
@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>Bicycle Reservation Page:</h1>
    <br /><hr />
    <p>Guest waiting list in the queue: @ViewBag.count</p>
    <br /><br />
    <form method="post" asp-action="Reserve" asp-controller="Reservation">
        <label> Enter your name: </label>
        <input type="text" name="name" placeholder="e.g. Ali bin Ahmad" required />
        <br /><br />
        <table border="1" style="padding: 5px; margin: 5px;">
            <tr>
                <th style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">Bike ID</th>
                <th style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">Bike Name</th>
                <th style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">Bike Type</th>
                <th style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">Bike Date</th>
                <th style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">Bike Price(RM)</th>
                <th style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">Image</th>
            </tr>
            @foreach (var singlebike in Model)
            {
                <tr>
                    <td style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">@singlebike.BikeID</td>
                    <td style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">@singlebike.BikeName</td>
                    <td style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">@singlebike.BikeType</td>
                    <td style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">@singlebike.BikeProducedDate</td>
                    <td style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px;">@singlebike.BikePrice</td>
                    <td style="padding-top: 10px; padding-bottom: 20px; padding-left: 30px;  padding-right: 40px; height:110px;">
                        @if (!string.IsNullOrEmpty(singlebike.ImageKey))
                        {
                            string imageUrl = "https://" + ViewBag.BucketName + ".s3.amazonaws.com/" + singlebike.ImageKey;
                            <img src="@imageUrl" alt="Flower Image" width="100" height="100" />
                        }
                    </td>
                <td>
                        <input type="hidden" name="bikeID" value="@singlebike.BikeID" />
                        <input type="submit" value="Reserve" class="btn btn-primary" />
                </td>
            </tr>
        }
    </table>
    </form>
</center>


