@model List<Bike>
@{
    ViewData["Title"] = "Index";
}

<center>
    <h1>May Shop Flower List</h1>
    <br /><hr /><br />
    <a asp-action="AddNewBike" asp-controller="BikeList">Add New Bike</a>
    <br />
    <br />
    <table border="1">
        <tr>
            <th>Bike ID</th>
            <th>Bike Name</th>
            <th>Bike Type</th>
            <th>Bike Date</th>
            <th>Bike Price</th>
            <th>Image</th>
        </tr>
        @foreach (var singlebike in Model)
        {
            <tr>
                <td>@singlebike.BikeID</td>
                <td>@singlebike.BikeName</td>
                <td>@singlebike.BikeType</td>
                <td>@singlebike.BikeProducedDate</td>
                <td>@singlebike.BikePrice</td>
                <td>
                    @if (!string.IsNullOrEmpty(singlebike.ImageKey))
                    {
                        string imageUrl = "https://" + ViewBag.BucketName + ".s3.amazonaws.com/" + singlebike.ImageKey;
                        <img src="@imageUrl" alt="Flower Image" width="100" height="100" />
                    }
                </td>
                <td>
                    <a asp-action="deletePage" asp-controller="FlowerList" asp-route-did="@singlebike.BikeID">
                        <button class="btn-info" style="background-color:red">Delete</button>
                    </a>
                </td>
                <td>
                    <a asp-action="editPage" asp-controller="FlowerList" asp-route-did="@singlebike.BikeID">
                        <button class="btn-info" style="background-color:limegreen">Edit</button>
                    </a>
                </td>
            </tr>
        }
    </table>
</center>
